body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    background-color: #eeeeec;
}

aside {
    float: right;
    padding-top: 80px;
}

article h1, h2 {
    font-family: "Georgia", serif;
    font-variant: small-caps;
    margin-bottom: 0px;
    padding-bottom: 0.5em;
}

article h1 {
    font-size: 24pt;
}

article h2 {
    font-size: 20pt;
}

article img.logo {
    display: block;
    text-align: center;
}

article p {
    margin-top: 0px;
    margin-bottom: 0.5em;
    text-indent: 2em;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer {
    display: block;
    background-color: #eeeeec;
    margin-top: 2em;
}
