body
  {
  height: 100%;
  overflow: hidden;
  font-size: 100%;
  }
div#content
  {
  width: 100%;
  height: 100%;
  overflow: auto;
  }
  
  #midgard-bar { height:0px;}
  #midgard-bar li { margin-top:15px; line-height:20px}
  
